body {
}
.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%
}
button{
    display: block; 
    margin: 20px auto;
    text-decoration: none;
    border: 0px;
    border-radius:5px;
    padding: 20px 30px;
    background-color:transparent;
    font-size:15px;
}
button.gen{
    color:rgba(252,137,52,0.7);
    box-shadow: rgba(252,137,52,0.7) 0 0px 0px 2px inset;
}
button.gen:hover {
    color: rgba(255,255,255,0.85);
    box-shadow: rgba(252,137,52,0.7) 0 0px 0px 40px inset;
    cursor:pointer;
}
#theexcuse{text-align:center; }